@model WebApplicationWithMVC.Models.MemberModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MemberModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MEMBER_ID" class="control-label"></label>
                <input asp-for="MEMBER_ID" class="form-control" />
                <span asp-validation-for="MEMBER_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MEMBER_NAME" class="control-label"></label>
                <input asp-for="MEMBER_NAME" class="form-control" />
                <span asp-validation-for="MEMBER_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CITY" class="control-label"></label>
                <input asp-for="CITY" class="form-control" />
                <span asp-validation-for="CITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MEMBERSHIP_STATUS" class="control-label"></label>
                <input asp-for="MEMBERSHIP_STATUS" class="form-control" />
                <span asp-validation-for="MEMBERSHIP_STATUS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
